<!DOCTYPE html>
<html>
<head>
  <title>TO-DO IT</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-/5NwFGEkOQ1LXBVBfNbkY5B9Nt9Qg7sAc0lMjKqvHEwMz+5ux2n4DZ3J4yXTNoi4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-UyS7iePcOk/SLll+tPMwrl3qf4D4j9XkP4ljJmvCtDTicV7z+cNtRVuV7hEZePNZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-yM5J5/J5V5g+PRcOYR0ELzEf+iGJofwLZIMq+4hpjKX9Q2lV4J11qL3fYJbcN2P" crossorigin="anonymous">

</head>
<style>
  body{
    background-color: aliceblue;
  }
  </style>
<body>
    
  <div style="border-style:hidden; margin: 10px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <a class="navbar-brand" href="/todoit/">To-Do It!</a>
      
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/todoit/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/todoit/calendar/">View Calendar 🗓️</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/todoit/new/">Add To-Do/Create Task</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  <nav>
  </nav>
</br> 
<div class="col text-center">	
  <h2>Your TO-DOs For: <span class="text-primary"><%= new Date(date).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></span></h2>

</div>


</div>
</body>
</html>