<!DOCTYPE html>
<html>
<head>
  <title>To-Do It App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
 <h1>TO DO IT</h1>

<nav>
	<a href=“/fruits/new”>Create a New Fruit</a>
</nav>

 <ul>

<% for (var i = 0; i < Todo.length; i++) { %>
  <h2><%= Todo[i].task %></h2>
  <p><%= Todo[i].location %> on <%= Todo[i].date %> at <%= Todo[i].time %></p>
<% } %>

</ul>


</body>
</html>
